<div class="whitebox text-center">
    <h1>Loading...</h1>
    <div class="progress">
        <div class="progress-bar" role="progressbar"
             aria-valuenow="{{number-fmt 'int' prog}}" aria-valuemin="0"
             aria-valuemax="100"
             style="min-width: 2em;width: {{number-fmt 'int' prog}}%;">
          {{number-fmt 'int' prog}}%
        </div>
    </div>
  {{#if dim}}
      Analyzing: {{dim}}
  {{/if}}
  {{fa-icon icon="refresh" spin=true size="4"}}
</div>