<div class="row">
    <div class="col-md-12">
      {{#if fltr}}
          <h6>
              <b>for: </b> {{format-filter fltr model.dimensions model.funnels}}
          </h6>
      {{else}}
          <h6>
              <b>for: </b>all sessions
          </h6>
      {{/if}}

      {{!--
        <h2> Find <strong> Unique attributes</strong> for :</h2>

        <div class="ui divided grid">
            <div class="fourteen wide column">
                <div class="row">
                    <div class="ui grid">
                        <div class="one wide column"></div>
                        <div class="two wide column">
                            <div class="fluid ui primary button small">Segment A</div>
                        </div>
                        <div class="twelve wide column">
                          {{filters-search dimensions=model.dimensions dataset_id=model.dataset_id filters_query=query_b}}
                        </div>
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="ui grid">
                        <div class="one wide column"></div>
                        <div class="two wide column">
                            <div class="fluid ui secondary button small">Segment B</div>
                        </div>
                        <div class="twelve wide column">
                          {{filters-search dimensions=model.dimensions dataset_id=model.dataset_id filters_query=query_a default_text='rest'}}
                        </div>
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="ui grid">
                        <div class="one wide column"></div>
                        <div class="two wide column">
                            <div class="fluid ui button small">Filter</div>
                        </div>
                        <div class="twelve wide column">
                          {{filters-search dimensions=model.dimensions dataset_id=model.dataset_id filters_query=filters_query current_filters=filters}}
                        </div>
                    </div>
                </div>
            </div>

            <div class="two wide column">
                <button class="ui green button" {{action 'analyze'}}>Profile</button>
            </div>
        </div>
    </div>
</div>
<br>

--}}

      {{#if (eq a 'rest')}}
          <h2>What is unique about sessions with <strong class="text-blue"> Segment A
              : {{format-filter b model.dimensions}}</strong>?
          </h2>
      {{else}}
          <h3>What is unique about sessions when <strong class="text-blue"> Segment A
              : {{format-filter b model.dimensions}}</strong>
              vs when <strong> Segment B : {{format-filter a model.dimensions}}</strong>?
          </h3>
      {{/if}}
    </div>
</div>


{{#if (eq a 'rest')}}

  {{#if loadingResults}}

      <div class="whitebox text-center sixteen wide column">
          <h1>Loading...</h1>
        {{fa-icon icon="refresh" spin=true size="4"}}
      </div>


  {{else if results}}
      <div class="ui divided padded grid stackable">
          <div class="row">
              <div class="four wide column">
                  <div class="ui horizontal statistic small">
                      <div class="value">
                        {{number-fmt 'commas' results.bpt.ct}}
                      </div>
                      <div class="label sub-heading">
                          sessions with<br> this attribute
                      </div>
                  </div>
                  <br>
              </div>

              <div class="four wide column">
                  <div class="sub-heading">
                      Based on {{duration}} days of historical data.
                      <div class="sub-heading">from {{date-fmt sd 'year'}} to {{date-fmt ed 'short'}}</div>
                  </div>

              </div>
          </div>
      </div>
  {{/if}}

{{/if}}

{{partial 'apps/result-tabs'}}
